* {
	box-sizing: border-box;
}

body {
	margin: 0;
	display: flex;
	min-height: 100vh;
	min-width: 400px;
}

div {
	margin: auto;
}

input {
	width: 100%;

	padding: 0.4em 0.7em;
	margin: 0.5em 0;

	border: 1px solid #5f9341;
}

button {
	background-color: #5f9341;
	color: white;
	border: none;
	cursor: pointer;
	padding: 0.6em 1em;
}

button:hover {
	background-color: #5f93417c;
}

ul {
	list-style: none;
	margin: 1em 0;
	padding: 0;
	color: #5f9341;
}

ul li {
	margin: 0.5em 0;
}

ul a {
	color: inherit;
}
