* {
	box-sizing: border-box;
}

body {
	background-color: antiquewhite;
}

.photos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.photo {
	width: 15%;
	height: auto;

	margin: 1em;
	order: 99;

	border: 2px solid rebeccapurple;
	border-radius: 1em;
}

.onscreen {
	width: auto;
	height: 60vh;

	margin: 1em 100vw;

	order: 0;
}
