* {
	box-sizing: border-box;
}

body {
	font-family: "Roboto Slab", serif;
	margin: 0;

	color: #fff;
	background-color: #2d6d31;
	background-image: url("../images/bg.jpg");
	background-position: center;
	background-size: contain;
	background-blend-mode: multiply;
	background-repeat: round;
}

h1,
h2,
p {
	margin: 0;
}

/* layout */

.container {
	width: 80%;
	max-width: 800px;
	margin: auto;
	text-align: center;
}

/* header */

header {
	margin-block: 1em !important;
}

header nav {
	display: flex;
	justify-content: space-between;
}

/* main */

/* main {
} */

.remaining {
	text-align: left;
	margin-bottom: 0.5em;
	transform: translateY(-0.5em);
}

/* players */

.player {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding-bottom: 0.5em;
	margin-top: 0.5em;
}

.player:nth-child(2) {
	border-bottom: 2px solid gray;
}

.player:nth-child(3) {
	margin-bottom: 1em;
}

.card {
	width: 9em;
	height: 13em;

	margin-block: 0.5em;

	background-color: #0c8a0c;
	border: 2px solid #0c8a0c;
}

/* helper class */

.hidden {
	display: none;
}
