* {
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;

	line-height: 1.2;
	letter-spacing: 1.2;

	margin: 0;

	background-color: #e3e6ec;
	background-image: url(../images/bg.svg);
	background-repeat: no-repeat;
	background-position: top center;
}

/* layout */

.container {
	width: 70%;
	max-width: 800px;
	margin: auto;
	margin-bottom: 3em;
}

/* header */

header {
	text-align: center;
	margin-top: 1em;
	padding-bottom: 0.5em;
	border-bottom: 2px solid black;
}

header h1,
header p {
	margin: 0;
}

/* form */

form {
	margin-block: 2em;
	padding: 2em;
	text-align: center;

	background-color: #c2c4c881;
}

form div {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	margin-block: 1em;
}

form input,
form textarea {
	font-family: inherit;
	padding: 0.3em;
	margin-top: 0.2em;

	border: 2px solid black;

	width: 80%;

	resize: none;
}

form button {
	width: 50%;

	color: white;
	border: 1px solid black;
	background: rgb(219, 88, 88);

	cursor: pointer;

	transform: scale(1);
	transition: all 250ms;
}

form button:hover {
	transform: scale(1.1);
	background-color: blanchedalmond;
	color: black;
}

/* main */

main {
	padding: 3em;
	padding-top: 1em;
	background-color: rgba(213, 215, 221, 0.739);
}

/* article */

article {
	border-bottom: 1px solid gray;
}

/* disable last child border */
article:last-child {
	border: none;
}

article h2 {
	text-align: center;
}

article p {
	padding-inline: 0.5em;
}
