* {
	box-sizing: border-box;
}

body,
html {
	height: 100vh;
	overflow: hidden;
}

body {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

	background-color: rgb(238, 174, 202);
	background: radial-gradient(
		circle,
		rgba(238, 174, 202, 1) 0%,
		rgba(148, 187, 233, 1) 100%
	);

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	background-color: rgba(56, 58, 55, 0.877);
	background-blend-mode: multiply;

	color: white;
	text-align: center;

	margin: 0;

	display: flex;

	font-size: 1.3rem;
}

/* layout */

.container {
	width: 90%;
	margin: auto;

	transform: translateY(-50%);
}

button {
	background-color: purple;
	border: none;
	cursor: pointer;

	padding: 3em;
	margin-top: 1em;

	border-radius: 5em;
	border: 1px solid black;

	box-shadow: rgba(148, 187, 233, 1) 0px 5px 15px;
}
