* {
	box-sizing: border-box;
}

body {
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	margin: 0;

	background-color: purple;

	height: 100vh;
	display: flex;
}

h1,
h2 {
	margin: 0;
}

/* typography */

.title {
	font-size: clamp(2em, 5vw + 1em, 5em);
}

.score {
	font-size: clamp(1.5em, 5vw + 1em, 3em);
}

/* layout */

.game {
	background-color: antiquewhite;

	width: 90%;
	margin: auto;
	padding-bottom: 2em;

	text-align: center;
}

/* text */

.title,
.score {
	margin-bottom: 0.3em;
}

.score {
	margin-top: 0.3em;
}

/* button */

.btn {
	background-color: darkkhaki;

	padding: 1em;

	border: 1px solid green;
	border-radius: 2em;

	cursor: pointer;
}

.btn:hover,
.btn:focus {
	background-color: rgba(189, 183, 107, 0.5);
}

/* game grid */

.grid {
	display: flex;
	flex-wrap: wrap;

	width: 50vw;
	height: calc(50vw + 24px);

	border: 2px solid black;

	margin: auto;
}

@media (min-width: 1200px) {
	.grid {
		height: calc(30vw + 5px);
	}
}

/* grid content */

.square {
	width: calc(2.5vw - 0.2px);
	height: calc(2.5vw + 1px);

	border: 1px solid rgba(0, 0, 255, 0.05);
}

@media (min-width: 1200px) {
	.grid > div {
		height: 1.5vw;
	}
}

/* snake */

.snake {
	background-color: #375;
}

.food {
	background-color: #524;
}
