* {
	box-sizing: border-box;
}

body {
	background-color: cadetblue;
	font-family: "Poppins", sans-serif;

	height: 100vh;
	display: flex;
}

h1,
h2 {
	margin: 0;
}

/* layout */

.container {
	background-color: rgba(0, 0, 0, 0.26);

	width: 90%;
	margin: auto;
	padding-bottom: 2em;

	text-align: center;
}

/* text */

.title,
.score {
	margin-bottom: 0.3em;
}

.score {
	margin-top: 0.3em;
}

/* button */

.btn {
	background-color: darkkhaki;

	padding: 1em;
	margin-bottom: 0.5em;

	border: 1px solid green;
	border-radius: 2em;

	cursor: pointer;
}

.btn:hover,
.btn:focus {
	background-color: rgba(189, 183, 107, 0.5);
}

/* game grid */

.grid {
	display: flex;
	flex-wrap: wrap;

	width: 55.9vw;
	height: 62vw;

	background-color: #000;
	border: 2px solid black;

	margin: auto;
}

@media (min-width: 700px) {
	.grid {
		height: 60vw;
	}
}

@media (min-width: 1200px) {
	.grid {
		height: calc(32.3vw);
	}
}

/* grid content */

.square {
	width: calc(2vw - 0.2px);
	height: calc(2vw + 1px);
}

@media (min-width: 1200px) {
	.grid > div {
		height: 1.15vw;
	}
}

/* game colors */

.pacdots {
	background-color: #df9723;
	border: 3px solid black;
}

.wall {
	background-color: #144fc0;
}

.ghost-lair {
	background-color: #00000085;
}

.powerpellets {
	background-color: #fbea0b;
	border: 2px solid black;
}

.empty {
	background-color: black;
}
