* {
	box-sizing: border-box;
}

body {
	background-color: #90ee90;
}

img {
	width: 100%;
}

.pokemon {
	max-width: 800px;
	margin: auto;
	padding: 0.5em 1em;

	display: grid;
	grid-template-columns: repeat(16, calc(100% / 16));
}

.pokemon * {
	border: 0.1rem solid black;
	display: flex;

	justify-content: center;
	align-items: center;
	text-align: center;

	padding: 0.3rem;
}

.pokemon-id {
	background-color: lightblue;
	grid-column: span 3;
	font-size: 1.3rem;
}

.pokemon-img {
	background-color: rgb(158, 158, 170);
	grid-column: span 3;
}

.pokemon-name {
	grid-column: span 5;
	background-color: lightyellow;
	font-size: 1.3rem;
	text-transform: uppercase;
}

.pokemon-type {
	grid-column: span 5;
	background-color: lightsalmon;
	font-size: 1.3rem;
}

.pokemon-stat {
	background-color: lightpink;
	grid-column: span 4;
}

/* button */

.buttons {
	width: 25%;
	margin: auto;
	padding: 1em;

	display: flex;
	justify-content: space-between;
	gap: 0.3em;
}

button {
	padding: 0.25em 0.5em;
	border: none;
	background: none;

	border-radius: 1em;
	color: white;
	background-color: cadetblue;

	cursor: pointer;
}

button:disabled {
	cursor: not-allowed;
}
