* {
	box-sizing: border-box;
}

body {
	display: grid;
	grid-template-columns: repeat(4, 25vw);

	height: 100vh;

	overflow: hidden;

	color: aliceblue;
}

p {
	margin: 0;
}

.question-block {
	background-color: rgba(102, 51, 153, 0.555);
}

.question-block * {
	border: 1px solid black;
}

.category {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 35%;
	padding: 0.3em;
	word-wrap: break-word;
	font-size: max(0.5rem, min(0.5rem + 2vw, 2rem));
}

.questions {
	background-color: cadetblue;
	height: 100%;
	display: grid;
	grid-template-rows: repeat(4, 17%);
}

.question {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 0;
}

/* .question::before {
	font-size: 16px;
	margin: 0;

	display: block;
} */

.q100::after {
	content: "100$";
}

.q200::after {
	content: "200$";
}

.q300::after {
	content: "300$";
}

.q400::after {
	content: "400$";
}

.focused-question {
	position: fixed;
	width: 100vw;
	height: 100vh;

	padding-top: 13vh;
	padding-inline: 1em;

	text-align: center;
	background-color: rgb(41, 149, 117);
	inset: 0;
	color: white;
	font-size: clamp(1.2rem, 1.5rem + 4vw, 3.5rem);
}

.text-helper::after {
	display: block;
	padding: 0.3em;

	text-align: center;
	font-size: max(1.5rem, min(1rem + 3vw, 5rem));
}
