* {
	box-sizing: border-box;
}

body {
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: repeat(5, 20%);

	height: 100vh;
}

p {
	margin: 0;
}

.question-block {
	display: flex;
	flex-direction: column;
}

.question-block * {
	border: 2px solid black;
}

.category {
	padding: 1em;
	word-wrap: break-word;
	font-size: max(1rem, min(1rem + 3vw, 3.5rem));
}

.question {
	font-size: 0;
}

/* .question::before {
	font-size: 16px;
	margin: 0;

	display: block;
} */

.q100::after {
	content: "100$";
}

.q200::after {
	content: "200$";
}

.q300::after {
	content: "300$";
}

.q400::after {
	content: "400$";
}

.focused-question {
	position: fixed;
	width: 100vw;
	height: 100vh;

	padding-top: 30vh;

	text-align: center;
	background-color: rgb(41, 149, 117);
	inset: 0;
	color: white;
	font-size: 4rem !important;
}

.text-helper::after {
	display: block;
	padding-block: 0;

	text-align: center;
	font-size: max(1.5rem, min(1rem + 3vw, 5rem));
}
