* {
	box-sizing: border-box;
}

p {
	margin: 0;
}

.question-block {
	border: 2px solid blue;
}

.question {
	font-size: 0;
}

/* .question::before {
	font-size: 16px;
	margin: 0;

	display: block;
} */

.q100::after {
	content: "100$";
	font-size: 1rem;
}

.q200::after {
	content: "200$";
	font-size: 1rem;
}

.q300::after {
	content: "300$";
	font-size: 1rem;
}

.q400::after {
	content: "400$";
	font-size: 1rem;
}

.focused-question {
	position: fixed;
	width: 100vw;
	height: 100vh;

	padding-top: 30vh;

	text-align: center;
	background-color: rgb(41, 149, 117);
	inset: 0;
	color: white;
	font-size: 4rem !important;
}
